* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.lp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/back.png);
    background-size: cover;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.lp::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(24, 28, 50);
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.5046393557422969) 0%,
        rgba(39, 54, 134, 0.8015581232492998) 100%
    );
    position: absolute;
    bottom: 0;
}

.contents,
.powered,
footer {
    z-index: 1;
}

.contents h1 {
    font-family: "Viga", sans-serif;
    font-size: 96px;
    color: white;
}

.contents h1 span {
    color: #29bffd;
}

.contents h2 {
    margin-top: -30px;
    font-weight: 200;
    font-size: 53.5px;
    word-spacing: 0, 04em;
    color: white;
}

.tombol {
    text-transform: uppercase;
    border-radius: 50px;
    width: 200px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    margin-top: -50px;
    position: absolute;
    overflow: hidden;
}

/*
.lp .leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;
}

.lp .leftside h1 {
    font-weight: 700;
}

.lp .leftside p {
    font-weight: 500;
}

.lp .leftside .costume {
    width: 200px !important;
} */

.fas {
    height: 25px;
}

.fa-user,
.fa-unlock-alt {
    padding-top: 6px !important;
}
